<!DOCTYPE html>
<html>

<head>


     <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>     
		 
		  

</head>

<body>

<div id="map" style="width:100%;height:30%"></div>

 <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqT_1BtmlMw09HypO7L0EFRIIkBPtlz2Q&callback=initMap">
    </script>

<script type="text/javascript"  src="{{url_for('static',filename='js/main.js')}}"></script>


<script type="text/javascript" src="{{url_for('static',filename='js/my_thread.js')}}"></script>

lat: <input type="number" name="lat" id="lat"><br>


lng: <input type="number" name="lng" id="lng"><br>

<button onclick="startThread()">Start thread</button>

<br>

<div id="display"> </div>
</body>
</html>