<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Search Box Practice #3</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <form class="form-wrapper cf">
  	<input type="text" placeholder="Search here..." required>
	  <button type="submit">Search</button>
</form>
<div class="byline"><p>search box by <a href="http://speckyboy.com/2012/02/15/how-to-build-a-stylish-css3-search-box/">SpeckyBoy</a> featured on <a href="http://thecodeblock.com/search-box-tutorials-using-css3-jquery/">THE CODE BLOCK</a></p></div>
  
  

</body>

</html>
